<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.montyquiz"
        versionCode="17" 
        version   = "1.0.0">
	<gap:platform name="android" />
	
    

    <name>Monty Quiz</name>

    <description>
        A ten question Monty Python trivia app. 
    </description>

    <author email="casespar@iupui.edu">
        Casey Sparks 
    </author>

</widget>